*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:gray ;
}

#card{
    height: 60%;
    width: 70%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 42px;
}
#profileimg{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100px;
}
button{
    height: 33px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 30px;
}